<div>
  <mat-grid-list cols="6" rowHeight="200px">
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <mat-card class="card">
        <img mat-card-image src="/static/assets/images/daniel-roe-30147-unsplash.jpg">
        <mat-card-content>
          <p>
            Explore different Places around the World!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank" href="https://unsplash.com/photos/lpjb_UMOyx8" mat-button>Show</a>
        </mat-card-actions>
      </mat-card>
      <br>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <h1 id="headline">Similar Places</h1>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card class="card">
        <img mat-card-image src="/static/assets/images/greg-rakozy-38802-unsplash.jpg">
        <mat-card-content>
          <p>
            Picture your life and find more everytime!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank" href="https://unsplash.com/photos/oMpAz-DN-9I" mat-button>Show</a>
        </mat-card-actions>
      </mat-card>
      <br>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="2" [rowspan]="4">
      <mat-card class="card">
        <img mat-card-image src="/static/assets/images/joshua-hibbert-22841-unsplash.jpg">
        <mat-card-content>
          <p>
            Search your Spot, feel the freedom!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank" href="https://unsplash.com/photos/Pn6iimgM-wo" mat-button>Show</a>
        </mat-card-actions>
      </mat-card>
      <br>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="4" [rowspan]="3">
      <mat-card style="max-width: 950px;">
        <img mat-card-image src="/static/assets/images/larry-chen-30069-unsplash.jpg">
        <mat-card-content>
          <p>
            A picture is more than a thousand words!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank" href="https://unsplash.com/photos/Nte-4RiRfwU" mat-button>Show</a>
        </mat-card-actions>
      </mat-card>
      <br>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card class="card">
        <img mat-card-image src="/static/assets/images/john-kutcher-15357-unsplash.jpg">
        <mat-card-content>
          <p>
            Find your new perfect Travel Destination!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank" href="https://unsplash.com/photos/UIf9YO7LsuE" mat-button>Show</a>
        </mat-card-actions>
      </mat-card>
      <br>
    </mat-grid-tile>
    <br>
  </mat-grid-list>
  <mat-divider></mat-divider>
</div>
