/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  background-color: #DE7600;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100%;
}
